.about_content_des *{
    font-family: Montserrat, serif !important;
    font-size: 2rem;
    line-height: 1.5em;
    color: #333;
}
.about_content_des img{
    text-align: center;
}
.productdetail_info_right_social_item{
    width: 3rem;
    height: 3rem;
    border-radius:.4rem ;
    transition: all .4s ease;
    &:hover{
        opacity: .7;
    }
}
.productdetail_info_right_social{
    display: flex;
    gap: .4rem;
}
.about_content{
    padding-top: 2.5rem;
}
.about_content_title{
    margin-bottom: 2rem;
}

.about_share_inner{
    padding: 1.7rem 1.0rem 1.0rem 1.0rem;
    line-height: normal;
    background: rgba(128, 128, 128, 0.15);
    margin-top: 1.5rem;
    border-radius: .5rem;
}
.about_share{
    padding-bottom: 2.5rem;
}