.news_detail_content{
    padding-top: 2.5rem;
}

.news_detail_content_des{
    img{
        width: 100%;
    }
}

/* share */
.about_share_inner{
    padding: 1.7rem 1.0rem 1.0rem 1.0rem;
    line-height: normal;
    background: rgba(128, 128, 128, 0.15);
    margin-top: 1.5rem;
    border-radius: .5rem;
}
.about_share{
    padding-bottom: 2.5rem;
}
.about_share_txt{
    margin-bottom: .5rem;
}
.productdetail_info_right_social_item{
    width: 3rem;
    height: 3rem;
    border-radius:.4rem ;
    transition: all .4s ease;
    &:hover{
        opacity: .7;
    }
}
.productdetail_info_right_social{
    display: flex;
    gap: .4rem;
}


/* relate */

.home_news_inner  {
    margin-bottom: 4rem;
}
.home_news_list_item_img_wrap{
    overflow: hidden;
}
.home_news_list_item_time{
    color: #787878;
    position: relative;
    padding-left: 2rem;
    &::before{
        left: 0;
        position: absolute;
        content: url(../images/date-news.png);
        width: 1.6rem;
        
    }
}
.home_news_list_item_info{
    padding: 1.5rem 2rem 0;
    border: 1px solid #cacaca;
}
.home_news_list_item_title{
    color: #111;
    margin-block: 1.2rem;
    transition: color .4s ease;
    &:hover{
        color: #fc0000;
    }
}
.home_news_list_item_des{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6.3rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-bottom: 1.6rem;
}
.home_news_list_item_img{
    position: relative;
}
.home_news_list_item_img_lay{
    padding-top: 75.12%;

}
.home_news_list_item_img_wrap{
    position: relative;
}
/* .home_news_list_item_img_overlay{
    position: absolute;
    z-index: 11;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: #fff;
} */
.home_news_list_item_link{
    height: 5rem;
    width: 14.2rem;
    margin-left: auto;
    margin-right: -2.1rem;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -2px;
        right: -1px;
        width: 14.2rem;
        background: url(../images/btn-news.jpg) no-repeat right center;

    }
    &:hover{
        color: #fc0000;
    }
}
.home_news_list_item{
    width: calc(100% / 3);
    clip-path: polygon(3rem 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0% 100%, 0rem 3rem);
}
.home_news_list_item_title{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.8rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: 1.6rem;
} 