.home_news_inner  {
    margin-bottom: 4rem;
    display: flex;
    /* justify-content: space-between; */
}
.home_news_list_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}
.home_news_list{
    width: calc(74.66% - 2rem);
    height: max-content;
    /* padding: 3rem; */
    /* padding-left: 1.5rem; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
}
.home_news_list_item{
    width: calc(50% - 1.2rem);
}
.home_news_list_item_img_wrap{
    overflow: hidden;
}
.home_news_list_item_time{
    color: #787878;
    position: relative;
    padding-left: 2rem;
    &::before{
        left: 0;
        position: absolute;
        content: url(../images/date-news.png);
        width: 1.6rem;
        
    }
}
.home_news_list_item_info{
    padding: 1.5rem 2rem 0;
    border: 1px solid #cacaca;
}
.home_news_list_item_title{
    color: #111;
    margin-block: 1.2rem;
    transition: color .4s ease;
    &:hover{
        color: #fc0000;
    }
}
.home_news_list_item_des{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6.3rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-bottom: 1.6rem;
}
.home_news_list_item_img{
    position: relative;
}
.home_news_list_item_img_lay{
    padding-top: 65.12%;

}
.home_news_list_item_img_wrap{
    position: relative;
}
/* .home_news_list_item_img_overlay{
    position: absolute;
    z-index: 11;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: #fff;
} */
.home_news_list_item_link{
    height: 5rem;
    width: 14.2rem;
    margin-left: auto;
    margin-right: -2.1rem;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -2px;
        right: -1px;
        width: 14.2rem;
        background: url(../images/btn-news.jpg) no-repeat right center;

    }
    &:hover{
        color: #fc0000;
    }
}
.home_news_list_item{
    clip-path: polygon(3rem 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0% 100%, 0rem 3rem);
}


.news_content{
    padding-top: 2.5rem;
}
.home_news_list_item_title{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.8rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: 1.6rem;
} 
@media screen and (max-width:767px) {
    .home_news_list_item{
        width: auto;
        clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0% 100%, 0rem 2rem);
    }
    .home_news_list{
        gap: 1.4rem;
    }
}
.home_news_card{
    /* padding-top: 3rem; */
    width: calc( 26.34% - 2rem );
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    /* border-left: 1px solid #9b9a9a; */
    gap: 1rem;
}
.home_news_card_item{
    display: flex;
    justify-content: space-between;
}
.home_news_card_item_img_wrap{
    overflow: hidden;
    width: calc( 44% - .5rem);
}
.home_news_card_item_info{
    overflow: hidden;
    width: calc( 56% - .5rem);
}
.home_news_card_item_info_title{
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.84rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: .2rem;
}
.home_news_card_item_info_des{
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.36rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: .2rem;
}
.home_news_card_item_img_lay{
    padding-top: 55.18%;
}
.home_news_card_item_info_link, .home_news_card_item_info_title{
    transition: all .4s ease;
    &:hover{
        color: #fc0000;
    }
}

@media screen and (max-width:767px) {
    .home_news_card, .home_news_list{
        width: 100%;
        padding: 0;
    }
    .home_news_inner{
        flex-direction: column;
        gap: 2rem;
    }
    .home_news_list_inner {
        flex-wrap: unset;
    }
    .home_news_list_pagi{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .swiper-pagination-bullet-active{
            background-color: #111;
        }
    }
    .home_news_list_item_link{
        width: 16.2rem;
        &::after{
            right: 2.4rem;
        }
    }
    .home_news_list_inner{
        gap: 0;
    }
}