
/* productdetail_info */
.productdetail_info_left{
    width: 40%;
}
.productdetail_info_left_list_item{
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
}
.productdetail_info{
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.swiper{
    margin-bottom: 1rem;
}
.productdetail_info_right{
        width: 56.5%;
}
.productdetail_info_right_title{
    color: #111;
    text-align: left;
    text-transform: none;
}
.productdetail_info_inner{
    display: flex;
    justify-content: space-between;
}
.productdetail_info_right_social{
    display: flex;
    gap: .4rem;
}
.productdetail_info_right_social_item{
    width: 3rem;
    height: 3rem;
    border-radius:.4rem ;
    transition: all .4s ease;
    &:hover{
        opacity: .7;
    }
}
.productdetail_info_right_social{
    margin-block: 1.5rem;
}
.productdetail_info_right_view_icon{
    width: 1.6rem;
    height: 1.6rem;
}
.productdetail_info_right_view_amount{
    color: #8E8E8E;
}
.productdetail_info_right_view{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-inline: 2rem;
    margin-bottom: .8rem;
}
.productdetail_info_right_price{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: #F5F5F5;
    padding: 1.2rem 2.0rem;
    border-radius: .6rem;
    margin-bottom: 1.6rem;
}
.productdetail_info_right_price_contact{
    color: #0563D5;
}

@media screen and (max-width:991px) {
    .productdetail_info_inner{
        flex-direction: column;
    }
    .productdetail_info_left{
        width: 60.5444%;
        margin-inline: auto;
    }
    .productdetail_info_right{
        width: 100%;
    }
    .mySwiper{
        padding-inline: 2.5rem;
    }
}
@media screen and (max-width:991px) {
    .productdetail_info_inner{
        flex-direction: column;
    }
    .productdetail_info_left{
        width: 100%;
        margin-inline: auto;
    }
    .productdetail_info_right{
        width: 100%;
    }
    .mySwiper{
        padding-inline: 0;
    }
}
/* productdetail_detail */


.productdetail_detail_title{
    background: #EEEEEE;
    color: #1C1B19;
    padding: 1.2rem 1.8rem;
    border-radius: .3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.productdetail_detail_des{
    max-height: 50rem;
    overflow: hidden;
    &.active{
        max-height: unset;
    }
}
.productdetail_detail_show_txt_wrap{
    background:#0563D5;
    color: #fff;
    padding: .8rem 2.0rem;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
}
.productdetail_detail_show_txt{
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, transparent, #FAFAFA);
    padding-top: 10rem;
    &.compact.active .productdetail_detail_show_txt_wrap{
        display: flex;
    }
    &.seemore.active .productdetail_detail_show_txt_wrap{
        display: flex;
    }
    &.compact{
        background: unset;
        position: unset;
        padding: 2rem;
    }
}
.productdetail_detail{
    position: relative;
}
.productdetail_detail_show_txt_wrap{
    display: none;
    justify-content: space-between;
    width: max-content;
    margin-inline: auto;
    align-items: center;
    gap: .5rem;
    position: relative;
    z-index: 11;
}
.productdetail_detail_show_txt_icon{
    width: 1.5rem;
    height: 1.5rem;
}

/* productdetail_relate */
.productdetail_relate .productdetail_detail_title{
    margin-top: 2.5rem;
}
.home_product{
    padding: 6rem 0 4rem;
}
.home_product_list {
    margin-bottom: 4rem;
}
.home_product_list_title{
    position: relative;
    padding: .75rem 7.8rem .75rem 2.4rem;
    background: linear-gradient(180deg, #0563D5 0%, #0052B6 100%);
    width: max-content;
}
.home_product_list_title_wrap{
    border-bottom: 2px solid #0152b6;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_product_control{
    display: flex;
    gap: 1rem;
}
.home_product_control_item{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid #0563D5;
    color: #0563D5;
    cursor: pointer;
    transition: color .4s ease, background-color .4s ease, opacity .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: #fff;
        background-color: #0563D5;
    }
    &.swiper-button-disabled {
        opacity: .5;
        pointer-events: none;
    }
    .home_product_control_item_img{
        width: 1.4rem;
        display: flex;
    }
}
.home_product_list_title_bg{
    position: absolute;
    top: 0;
    right: -5.9rem;
    width: 5.9rem;
    bottom: 0;
}
.home_product_list_card_item_des{
    line-height: 1.5;
    max-height: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2rem;
}
.home_product_list_card_item_sub{
    cursor: pointer;
    margin-top: auto;
    transition: all .4s ease;
    width: 100%;
    margin-inline: auto;
    color: #111;
    background-color: #FFC401;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: #fff;
        background-color: #fc0000;
    }
}
.home_product_list_card_item_img_wrap{
    overflow: hidden;
}
.home_product_list_card_item_img{
    position: relative;
    margin-bottom: 1rem;
}
.home_product_list_card_item_img_overlay{
    padding-top: 80%;
}
.home_product_list_card_item_info{
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.home_product_pagi {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 2rem;
    .home_product_pagi_item{
        cursor: pointer;
        width: .8rem;
        height: .8rem;
        background-color: #929292;
        border-radius: 10rem;
        transition: background-color .4s ease, width .4s ease;
        &.active{
            background-color: #0563D5;
            width: 2rem;
        }
    }
}
.home_product_list_wrap {
    overflow: hidden;
    padding-bottom: 2rem;
}
.home_product_list_card_item{
    display: flex;
    flex-direction: column;
    flex: none;
    height: auto;
    background: white;
    box-shadow: 0 0 2rem 0rem #00000017;
}
.home_product_list_card_item_title {
    margin-bottom: .6rem;
    transition: color .4s ease;
    &:hover{
        color: #fc0000;
    }
}
@media only screen and (max-width: 991px) {
    .home_product_des {
        max-width: 72rem;
        margin-inline: auto;
    }
    .home_product_list_title_bg {
        right: -5.7rem
    }
}
@media only screen and (max-width: 767px) {
    .home_product_list_card_item {
        box-shadow: none;
    }
    .home_product {
        padding-block: 4.4rem;
    }
    .home_product_list_title_bg{
        right: -5rem;
        width: 5.2rem;
    }
    .home_product_list_card_item_info{
        padding: 0;
    }
    .home_product_list_card_item_sub {
        font-size: 1.2rem;
        line-height: 1em;
    }
    .home_product_control {
        display: none;
    }
    .home_product_list_title {
        padding-right:3.2rem;
    }
}